.featured-box {
  width: 100% !important;
}

/* Badge */
.featured-box-badge{
  align-items: center;
}

.nmdivi_blurb_1 .featured-box-badge-icon {
  margin-left: 5px;
}

/* Border */
.featured-box > * {
  border-width: 0px;
  border-style: solid;
  border-color: #333;
}
.featured-box-content *,.featured-box-image *, .featured-box-title *, .featured-box-subtitle *, .featured-box-text * {
  border-width: 0px;
  border-style: solid;
  border-color: #333;
}

/* Display */
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}
