/* Icon */
.df-rating-icon span{
    font-size: 30px;
}

.df-rating-icon span {
    display: inline-block;
    position: relative;
    font-style: normal;
    cursor: default;
}

.df-rating-icon span:before {
    content: "\2605";
    display: block;
    font-size: 30px;
    font-family: inherit;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}